Client/Services/Web References/BugReporting/BugService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReportBug">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bug" type="tns:Bug" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Bug">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportBugResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportBugSoapIn">
    <wsdl:part name="parameters" element="tns:ReportBug" />
  </wsdl:message>
  <wsdl:message name="ReportBugSoapOut">
    <wsdl:part name="parameters" element="tns:ReportBugResponse" />
  </wsdl:message>
  <wsdl:portType name="BugServiceSoap">
    <wsdl:operation name="ReportBug">
      <wsdl:input message="tns:ReportBugSoapIn" />
      <wsdl:output message="tns:ReportBugSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BugServiceSoap" type="tns:BugServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportBug">
      <soap:operation soapAction="http://tempuri.org/ReportBug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BugServiceSoap12" type="tns:BugServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportBug">
      <soap12:operation soapAction="http://tempuri.org/ReportBug" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BugService">
    <wsdl:port name="BugServiceSoap" binding="tns:BugServiceSoap">
      <soap:address location="http://localhost:1837/Website/BugReporting/BugService.asmx" />
    </wsdl:port>
    <wsdl:port name="BugServiceSoap12" binding="tns:BugServiceSoap12">
      <soap12:address location="http://localhost:1837/Website/BugReporting/BugService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>